.main-about-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

    gap: 3rem;
}

.about-section {
    margin-top: 2rem;
    border: 2px solid #ff7e66;


}

h4 {
    font-weight: 600;
}

.slide-in-fwd-center {


    animation: slide-in-fwd-center 25.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}


@media only screen and (max-width: 660px) {


    .main-about-sections {
        flex-direction: column;

    }
}